<!-- <%= link_to "Home", root_path %>
<%= link_to "About", about_path %> -->

<div class="jumbotron center">
     <h1>Welcome to my app!</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>


<!--
<p>Sign up <a href="http://localhost:3000/about"> here </a> </p>

<p> Sign up <%= link_to "here", "http://localhost:3000/about" %> </p> -->
